/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}
/* 2. Remove default margin */
* {
  margin: 0;
}
/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}
/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}
/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}
/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}


/* END OF RESET */

:root {
  --water: #aadaff;
  --water-miss: #69a2c7;
  --ship-hit: #ff5c5c;
  --ship-color: #808080;
  --board-border: #333;
  --background: #f0f8ff;
  --ship-zone-bg: #d3d3d3;
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  background-color: var(--background);
  font-family: sans-serif;
  padding: 2rem;
}

.board-container {
  display: flex;
  align-items: start;
  flex-direction: row;
  gap: 64px;
}

.board {
  display: grid;
  grid-template-columns: repeat(10, 32px);
  grid-template-rows: repeat(10, 32px);
  gap: 2px;
  border: 2px solid var(--board-border);
}

.board-square {
  width: 32px;
  height: 32px;
  background-color: var(--water);
  transition: background-color 0.2s ease-in-out;
}

.clickable .board-square:hover {
  background-color: lightblue;
  cursor: pointer;
}

.board:not([data-hidden="true"]) .board-square[data-ship]:not([data-ship="undefined"]):not([data-attacked="true"]) {
  background-color: var(--ship-color);
}

.board-square[data-attacked="true"][data-ship="undefined"] {
  background-color: var(--water-miss);
}

.board-square[data-attacked="true"]:not([data-ship="undefined"]) {
  background-color: var(--ship-hit);
}

.shipzone {
  margin: 32px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: var(--ship-zone-bg);
  padding: 1rem;
  border-radius: 8px;
}

.ship {
  background-color: var(--ship-color);
  border-radius: 4px;
  cursor: move;
}

button {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border-radius: 8px;
  border: none;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #45a049;
}

button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}




